html,body 
{
  background-color: #e2f8d7;
}
#line 
{
  background-color: #228b22;
  width: 1920px;
  margin: 0 auto;
  height: 100px;
}
#logo 
{
width: 100px;
height: 100px;
float: left;
margin-right: 100px;
}
nav
{
  display: block;
  width: 660px;
  margin: 0 auto 30px;
}
ul 
{
  list-style: none; 
  margin: 0 auto;
}
.menu ul
{
  padding: 0;
  background: #f8f8ff;
}
.menu li
{
  float: left;
}
.menu a
{
  border-right: 1px solid #228b22;
  border-left: 1px solid #228b22;
}
.menu li 
{
  display: inline;
}
.position div
{
  float: left;
  margin-bottom: 40px;
}
.silki
{
  text-align: center;
  background-color: #f8f8ff;
  width: 960px;
  margin: 50px;
  margin-left:480px;
}
.forma
{
  text-align: center;
  background-color: #f8f8ff;
  width: 960px;
  margin: 20px;
  margin-left:480px;
}
  
