html,body {
  background-color: #f0f8ff;
}
#line {
  background-color: #8dcaff;
  width: 1920px;
  margin: 0 auto;
  height: 120px;
}
#logo 
{
width: 100px;
height: 100px;
float: left;
margin-right: 10px;
}
nav
{
  clear: both;
}
