html,body 
{
  background-color: #def1e5;
}
#line 
{
  background-color: #d0f0c0;
  width: 1920px;
  margin: 0 auto;
  height: 120px;
}
#logo 
{
width: 100px;
height: 100px;
float: left;
margin-right: 10px;
}
nav
{
  clear: both;
}
